<%= form_for @member, :html => { :class => "form-horizontal member" } do |f| %>

  <% if @member.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@member.errors.count, "つのエラー") %> が原因で登録できませんでした</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @member.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <% if @member.face_image.present? %>
    <div>
      <label class='control-label col-lg-2' for='face_image'>写真</label>
      <div class='col-lg-10'>
        <%= image_tag @member.face_image.image.url(:medium), id: 'face_image' %><br />
        <%= link_to '写真を編集する', { :controller => :face_images, :action => :edit, id: @member.face_image.id }, { :class => 'btn btn-success', :style => 'margin-bottom: 10px' } %>
      </div>
    </div>
  <% else %>
    <div class="form-group">
      <%= f.label :face_image, :class => 'control-label col-lg-2' %>
      <div class="col-lg-10">
        <%= f.file_field :face_image, :class => 'form-control' %>
      </div>
      <%=f.error_span(:face_image) %>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:name) %>
  </div>
  <div class="form-group">
    <%= f.label :room_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.select :room_id, @rooms.pluck(:name, :id), {:include_blank => true}, {:class => 'form-control'} %>
    </div>
    <%=f.error_span(:room_id) %>
  </div>
  <div class="form-group">
    <%= f.label :department_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.select :department_id, @departments.pluck(:name, :id), {:include_blank => true}, {:class => 'form-control'} %>
    </div>
    <%=f.error_span(:department_id) %>
  </div>
  <div class="form-group">
    <%= f.label :committee_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.select(:committee_id, @committees.pluck(:name, :id), {:include_blank => true}, {:class => 'form-control'}) %>
    </div>
    <%=f.error_span(:committee_id) %>
  </div>
  <div class="form-group">
    <%= f.label :phone_number, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :phone_number, :class => 'form-control', :type => 'tel' %>
    </div>
    <%=f.error_span(:phone_number) %>
  </div>
  <div class="form-group">
    <%= f.label :mail_address, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :mail_address, :class => 'form-control', :type => 'email' %>
    </div>
    <%=f.error_span(:mail_address) %>
  </div>
  <div class="form-group">
    <%= f.label :is_absent, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <label><%= f.radio_button :is_absent, true, :class => 'form-control' %>休寮中</label>
      <label><%= f.radio_button :is_absent, false, :class => 'form-control' %>在寮中</label>
    </div>
    <%=f.error_span(:is_absent) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                members_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
